<div class="mT20 mR20 mL20 siteFooter slnFooter">
	<div class="siteFooterInner">
		<div class="siteFooterRecruitBrand">
			<!-- 後で調整する -->
      <!--<a href="#"  class="siteFooterRecruitBrandLink"><img src="app/assets/iages/footerlogo.jpeg" ></a>-->
		</div>
		<div class="siteFooterNav">
			<ul class="siteFooterNavList siteFooterSalonInfoList">
				<li><a href="#">HOT PEPPER Beautyとサロンボード導入のご案内</a></li>
				<li><a href="#" >掲載をご希望のサロン様はこちら</a></li>
			 </ul>
			<ul class="siteFooterNavList">
				<li><a href="#" id="mterms">ID・会員規約</a></li>
				<li><a href="#" id="terms">利用規約</a></li>
				<li><a href="#" id="privacy">プライバシーポリシー</a></li>
				<li><a href="#" id="guide">ご利用ガイド</a></li>
			</ul>
		</div>
	</div>
</div>